/* large screen media query start */
@media (min-width : 993px) {
  .offcanvas-body a {
    margin: 10px 5px;

  }

}

/* large screen media query end */


/* SMALL screen media query START */
@media (max-width:575px) {
  .left-text h1 {
    font-size: 45px;
  }

  .left-text {
    margin-left: 15px;

  }

  .pd-badge {
    position: absolute;
    left: 88px;
    top: 7px;
  }
}