/* large screen media query start */
@media (min-width : 993px) {
  .offcanvas-body a {
    margin: 10px 5px;

  }

}

/* large screen media query end */

/* this media query for the grid  */
@media(max-width:992px) {
  .home-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5px;
  }

  .ds-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .ds-items {
    width: 100%;
    height: 415px;
    position: relative;
    background-color: #f4f4f4;
  }

  .ds-text h2 {
    font-size: 40px;
  }

  .sr-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
  }

  .in-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 500px;
  }

}

@media(min-width : 576px) and (max-width : 767px) {
  .in-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
  }

}

/* SMALL screen media query START */
@media (max-width:575px) {
  .left-text h1 {
    font-size: 45px;
  }

  .left-text {
    margin-left: 15px;

  }

  .sr-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }

  .in-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
  }

}

/* SMALL screen media query end */