* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* color: black !important; */
}

.offcanvas-body ul li a {
  color: black;
  font-size: large;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
  transition: font-weight 0.2s ease-in;
}

.offcanvas-body a:hover {
  color: black;
  font-weight: 600;
}

.offcanvas-body a:focus {
  color: black;
  font-weight: 600;
}

.breadcrumb li a {
  color: #111;
  text-decoration: none;
}

.breadcrumb li i {
  font-size: 25px;
}

.home-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: auto auto;
  gap: 5px;
  grid-template-rows: auto;

}

.right-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}



.home-left {
  padding: 0;
  background-size: cover;
  background-position: center;
  height: 489px;
  position: relative;

}

.left-text {
  max-width: 450px;
  position: absolute;
  margin-left: 65px;
  top: 30%;
}

.left-text h1 {
  font-family: "Cookie", cursive;
  font-size: 65px;
  color: #111;
}

.left-text p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.left-text a {
  padding-top: 0px;
  font-weight: 600;
  font-size: 15px;
  color: #111;
  text-decoration: none;
  position: relative;
}

.left-text a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ca1515;
}

.home-right {
  padding: 0;
}

.right-items {
  height: 242px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.right-text {
  position: absolute;
  top: 30%;
  margin-left: 20px;
}

.right-text h4 {
  font-weight: 700;
  color: #111;
}

.right-text p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.right-text a {
  padding-top: 0px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  text-decoration: none;
  position: relative;
}

.right-text a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;

  background-color: #ca1515;
}



.product-sec h4 {
  position: relative;
}

.product-sec h4::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: #ca1515;
}

.product-tabs {
  display: flex;
  list-style: none;
}

.product-tabs li {
  margin: 0px 1vw;
}

/* Existing styles */
.pd-pic {
  min-width: 200px;
  max-width: 270px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.pd-pic .pd-hover {
  position: absolute;
  height: 50px;
  visibility: hidden;
  /* initially hidden */
  opacity: 0;
  /* invisible */
  padding-left: 0px;
  width: 100%;
  bottom: 30px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(20px);
}

.pd-pic:hover .pd-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


.pd-hover a {
  background-color: white;
  color: black;
  font-size: 30px;
  padding: 10px;
  border-radius: 20%;
  transition: background-color 0.32s ease-out, color 0.32s ease-out;
}

.pd-hover a i {
  transition: transform 0.6s ease;
}

.pd-hover a:hover {
  background-color: red;
  color: white;

  transition: transform 0.6s ease;
}

.pd-hover a:hover i {
  transform: rotate(360deg);
}

.pd-badge {
  position: absolute;
  left: 8px;
  top: 7px;
}

.pd-text {
  text-align: center;
  margin: 10px 0px;
}

.pd-text .rating .rating-star {
  color: gold;
}

.banner {
  background-image: url(images/banner-1.jpg.webp);
  background-repeat: no-repeat;
  background-position: center center;
}

.banner .bn-container {
  height: 500px;
}

.banner-text {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.banner-text span {
  font-size: 10px;
  color: #ca1515;
  text-transform: uppercase;
}


.banner-text h1 {
  font-family: "Cookie", cursive;
  font-size: 45px;
  color: #111;
}

.banner-text a {
  padding-top: 0px;
  font-weight: 600;
  font-size: 15px;
  color: black;
  text-decoration: none;
  position: relative;
}

.banner-text a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ca1515;
}

.ds-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.ds-image {
  width: 100%;
  height: auto;
}

.ds-image img {
  width: 100%;
  /* Image will scale to fill the width of the div */
  height: 100%;
  /* Image height will match the height of the div */
  object-fit: cover;
  /* Ensures the image covers the entire div without stretching */
}


.ds-items {
  width: 100%;
  min-height: 315px;
  max-height: 500px;
  position: relative;
  background-color: #f4f4f4;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ds-text {
  margin-top: 3%;
  width: 100%;
  position: absolute;
  z-index: 12;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ds-text span {
  font-size: 13px;
  font-weight: 600;
}

.ds-text h2 {
  font-family: "Cookie", cursive;
  font-size: 50px;
  color: #ca1515;
  margin-bottom: 5px;

}

.ds-text a {
  padding-top: 0px;
  font-weight: 600;
  font-size: 15px;
  color: black;
  text-decoration: none;
  position: relative;
}

.ds-text a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ca1515;
}

.timer-items p {
  font-size: small;
  padding-top: 20px;

}

.service {}

.sr-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.sr-items {

  margin-top: 12px;
}

.sr-items i {
  /* position: absolute; */
  color: #ca1515;
  font-size: 45px;
  padding-top: 5px;
}

.service .container {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.in-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 500px;
}

.in-items {
  height: 320px;
  position: relative;
  border-radius: 5px;
  transition: visibility 5s ease-in;
}

.in-items img {
  height: 100%;
  height: 100%;
}

.in-items-text {
  position: absolute;
  background-color: white;
  height: 320px;
  z-index: 1;
  width: 100%;
  color: black;
  border-radius: 5px;
  visibility: hidden;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.in-items:hover .in-items-text {
  visibility: visible;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}